<launch>

    <!-- 启动mavros主节点 -->
    <include file="/home/ubuntu/catkin_ws/src/mavros/mavros/launch/apm.launch">
    </include>

    <!-- 启动t265节点 -->
    <include file="/home/ubuntu/catkin_ws/src/realsense-ros/realsense2_camera/launch/rs_t265.launch">
    </include>
    
    <!-- 启动t265坐标转换节点 -->
    <include file="/home/ubuntu/catkin_ws/src/vision_to_mavros/launch/t265_tf_to_mavros.launch">
    </include>
    
    
    <!-- 启动控制节点 -->
    <node pkg="drone_offb_ctrl" type="drone_offb_ctrl_node" name="drone_offb_ctrl_node" output="screen">
    </node>
    
</launch>