<launch>

    <!-- 启动mavros主节点 -->
    <include file="/home/ubuntu/catkin_ws/src/mavros/mavros/launch/apm_serial.launch">
    </include>

    <!-- 启动t265节点 -->
    <include file="/home/ubuntu/catkin_ws/src/realsense-ros/realsense2_camera/launch/rs_t265.launch">
    </include>
    
    <!-- 启动t265坐标转换节点 -->
    <!-- <include file="/home/ubuntu/catkin_ws/src/VIO/launch/bridge.launch">
    </include> -->
    
</launch>